<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text" style="font-size: 10px;">&copy; Copyright 2022. All Rights reserved.</h6>
    </nav>
  </footer>