<!-- about.ejs
Zeenath Razak
300591954
01/10/2022
-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content 
  Your About Me Page should include your legal name, an image of you (I recommend a head and shoulders shot), a short paragraph about who you are. 
  Keep this clean and simple as it may be viewed by perspective employers
  -->
  <main class="container">
    <div class="container-fluid">
    </div>
   
   <h1>Welcome!</h1>
       <img class="myPic" type="image/x-icon" src= Assets/myPic.png  >
         <p class="aboutMe">
        I'm Zeenath Razak, a Software Engineering student at Centennial College.<br>
        I love travelling to new destinations and I have a passion for learning.  <br>
        I look forward to applying my creativity and knowlege to develop high quality software. <br>
        Have a glance at my resume for an indepth look of my skills.
        </p>
         <a class="btn btn-outline-danger" href="Assets/Resume2022.pdf" role="button" target="_blank" rel="noopener noreferrer">My Resume</a>    
  </main>
  

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
