<!-- index.ejs
Zeenath Razak
300591954
01/10/2022
-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="container-fluid">
      <h2>Welcome to ZR Design!</h2>
    </div>
    <p class="homePageQuote">Tomorrow Is Too Late, <br>
    Yesterday Is Over,<br>
    Now Is Exactly The Right Moment<br>
    START NOW!
    <br>
    <br>
    
    <h4>Have a look at the services we offer</h4>
    
    <div class="srvBtn">
     <a class="btn btn-outline-primary btn-lg" href="/services" role="button">My services</a>
    </div>
<%- include partials/bottom_nav.ejs %>  


<%- include partials/footer.ejs %>
  




