<!--//Your Services Page should include a short list of services you offer 
// general programming, 
//web development, mobile apps, etc.).
// I recommend including images that make this more appealing to view.-->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="container-fluid">     
    </div>
    <h2>Services We Offer</h2>
<br>
<br>
<div class="card-group">
  <div class="card">
    <img src="Assets/webDesign.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Web Design</h5> 
    </div>
  </div>
  <br><br>
  <div class="card">
    <img src="Assets/ProgPic.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Web Developement</h5>
    </div>
  </div>
  <br><br>
  <div class="card">
    <img src="Assets/mobileApps.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mobile Apps</h5>
    </div>
  </div>
</div>
  
  
  </main>
 
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>